<header>
    <div class="container">
        <h1>Academy Map</h1>
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li id="nav-login-user"><a href="../pages/choose-login.html">Entrar</a></li>
                <li id="nav-login-academy"><a href="../pages/choose-register.html">Cadastre-se</a></li>
                <li id="nav-dashboard-user" style="display:none;"><a href="user-dashboard.html">Painel de Controle</a></li>
                <li id="nav-dashboard-academy" style="display:none;"><a href="academy-dashboard.html">Painel de Controle</a></li>
                <li id="nav-favorites" style="display:none;"><a href="favorites.html">Favoritos</a></li>
                <li id="nav-logout" style="display:none;"><a href="#" onclick="logout()">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>
